
/* Your CSS Code here. */

  
table{
  border: 1px solid #000;
   margin: 25px 0;
  font-size: 20px;
  width: 100%;
  margin-top: 10%;
}
table td ,tr{
  border: 1px solid #000;
}
table thead tr{
  background-color: crimson;
  text-align: left;
  color: #fff;
}
table th ,
table td{
  padding: 10px 13px;
}
table tbody tr:nth-child(2) 
{
  background-color: lightgrey;
}
table tbody tr:nth-child(3) 
{
  background-color: silver;
}
table tbody tr:nth-child(1) 
{
  background-color: lightcoral;
  color: #fff;
}
